h1 {
	
	font-weight: bold;
    display: block;
	
	font-size: 4.5em;
	height: 100px;
	padding-top: 1px;
	border: 9px double darkblue;
	background: linear-gradient(45deg, silver, cyan, silver 85%, aquamarine );
	text-shadow: 4px 4px 5px  black;
	text-align: center;
    border-radius: 50%;
}
